.textArea {
	width: 100%;
	padding: 7px 15px;
	border: none;
	margin: 20px 0;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
	color: var(--black);
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	outline-color: var(--primary);
}

.textArea::placeholder {
	color: var(--grey);
}

.error {
	border: 1px solid var(--red);
}

.textareaWrapper {
	position: relative;
}

.errorMsg {
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--red);
}
